<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h1 class="[ intro__heading ] [ text-800 md:text-900 leading-tight ] [ p-name ]">
      {% if order %}
        {{ order }}. 
      {% endif %}
      {{ introHeading }}</h1>
    {% if introSummary %}
      <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}
      </div>
    {% endif %}

    {% if showCTAButtons %}
      <p>
        {# <a class="[ button ] [ font-base text-base weight-bold ]" href="#" target="_blank">Become a signatory</a> #}
        <a class="[ button ] [ font-base text-base weight-bold ]" href="http://go.principles.green/register" target="_blank">Join the newsletter</a>
      </p>
    {% endif %}
  </div>
</header>