{% if page.url.indexOf("fr-fr") == -1 and page.url.indexOf("es") == -1 %}
  {% set language = "" %}
{% elif page.url.indexOf("es") == -1 %}
  {% set language = "fr-fr" %}
{% else %}
  {% set language = "es" %}
{% endif %}

{% if navigation.items %}
  <nav class="nav" aria-label="{{ariaLabel}}">
    <ul class="[ nav__list ] [ box-flex align-center md:space-before ]">
      {% for item in navigation.items %}
        {% set relAttribute = '' %}
        {% set currentAttribute = '' %}

        {% if item.rel %}
          {% set relAttribute = ' rel="' + item.rel + '"' %}
        {% endif %}

        {% if page.url == item.url %}
          {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}

        {% if item.list == false %}
        <li class="nav__item">
            <a href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
        </li>
         {% else %}
         <li class="nav__item">
          {% if language == "" %}
            <a href="{{ item.url[1] }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text[1] }}</a>
            <a href="{{ item.url[2] }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text[2] }}</a>
          {% elif language == "fr-fr" %}
            <a href="{{ item.url[0] }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text[0] }}</a>
            <a href="{{ item.url[1] }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text[1] }}</a>
          {% elif language == "es" %}
            <a href="{{ item.url[0] }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text[0] }}</a>
            <a href="{{ item.url[2] }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text[2] }}</a>
          {% endif %}

        </li>
         {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
