{% set pageTitle = title + ' • ' + site.longName %}
{% set pageDesc = summary %}
{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}
{% set ogImage = site.url + '/assets/images/social-card.png' %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}

{% if socialImage %}
  {% set ogImage = site.url + '/assets/images/' + socialImage %}
{% endif %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}"/>

<meta property="og:site_name" content="{{ siteTitle }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ currentUrl }}"/>

{% if site.authorHandle %}
  <meta name="twitter:creator" content="@{{ site.authorHandle | replace('@', '') }}"/>
{% endif %}

{% if pageDesc %}
  <meta name="description" content="{{ pageDesc }}"/>
  <meta name="twitter:description" content="{{ pageDesc }}"/>
  <meta property="og:description" content="{{ pageDesc }}"/>
{% endif %}

<meta property="og:image" content="{{ ogImage }}"/>
<meta name="twitter:image" content="{{ ogImage }}"/>
<meta property="og:image:alt" content="Page image for {{ site.name }}"/>
<meta name="twitter:image:alt" content="Page image for {{ site.name }}"/>

{% if site.paymentPointer %}
  <meta name="monetization" content="{{ site.paymentPointer }}"/>
{% endif %}