{% set REDIRECT_URL = redirect_url %}
{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary = summary %}
{% set paginationNextUrl = nextUrl %}
{% set paginationPrevUrl = prevUrl %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 {{ 'pad-bottom-900' if not site.enableThirdPartyComments }} text-500 ] [ sf-flow ] [ e-content ]">

        {{ content | safe }}
      </div>
    </article>
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}